.App {
  text-align: center;
  /* background-image: url(wood_bqckground.jpg) ;
  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position: center center; */
}


.App-header {
  background-image:url(CurtainRed.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height:80px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.top_button{
  width:150px !important;
  padding: 10%;
  color:white;
  background-color: black;
  margin-top:20px;
  height:auto !important;
  font-family: 'Kanit', sans-serif;
}

footer{
  background-image:url(CurtainRed.jpg);
  margin-top: 250px;
}

body {
  height:900px;
  text-align: center;
  font-family:'Kanit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(wood_bqckground.jpg) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


form {
  font-size: 20px !important;
  color:black;
  font-family: 'Kanit', sans-serif !important;
}

#artist{
  width:150px;
  height:75px !important;
}



footer{
  background-image: url(CurtainRed.jpg);
  height:100px;
}

.artist{
  color:white;
  font-family: 'Kanit', sans-serif;
  text-align: center;
}


.artist_list{
  color:white;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
}