.App {
  text-align: center;
  /* background-image: url(wood_bqckground.jpg) ;
  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position: center center; */
}


.App-header {
  background-image:url(CurtainRed.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height:80px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.top_button{
  width:150px !important;
  padding: 10%;
  color:white;
  background-color: black;
  margin-top:20px;
  height:auto !important;
  font-family: 'Kanit', sans-serif;
}

footer{
  background-image:url(CurtainRed.jpg);
  margin-top: 250px;
}

body {
  height:100%;
  text-align: center;
  font-family:'Kanit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(wood_bqckground.jpg) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


form {
  font-size: 20px !important;
  color:black;
  font-family: 'Kanit', sans-serif !important;
}

#artist{
  width:150px;
  height:75px !important;
}



footer{
  background-image: url(CurtainRed.jpg);
  height:100px;
}

.artist{
  color:white;
  font-family: 'Kanit', sans-serif;
  text-align: center;
}


#artist_list{
  color:black;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
}

/* nav ul{height:200px; width:25% !important;}
nav ul{overflow-y:scroll !important} */

.vertical-menu {
  width: 200px; /* Set a width if you like */
  /* height: 100px; */
}

.vertical-menu a {
  /* background-color: #eee; Grey background color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: dark gray !important; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: maroon !important; /* Add a green color to the "active/current" link */
  color: white;
}

button{
  width:150px !important;
  background-image: url(CurtainRed.jpg);
  color: white !important;
}