body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button{
  width: 100px !important;
  height:50px !important;
  font-family: 'Kanit', sans-serif !important;
  /* margin-bottom:50px !important; */
}

form {
  font-size: 20px !important;
}